body{
    background-color: #c0f5fa;
}

#box-para {
    color: white;
    background-color: #8d99ae;
    border: 5px solid red;
    border-radius: 20px;
    padding: 5px 10px;

    margin: 50px;
    
}